<h1>Vista Chat</h1>

<div>
    <input type="email" placeholder="escribe tu correo" id="chatEmail">
    <br></br>
    <input type="text" placeholder="escribe tu mensaje" id="chatInput">
    <br></br>
    <button id="btn_sendMessage">Enviar Mensaje</button>
</div>

<div id="getMessages">
    
</div>

<script src="/socket.io/socket.io.js"></script>

<script src="js/chat.js"></script>