<h1>Desafio Chat</h1>

<body>
    <div>
        <input type="email" placeholder="Ejemplo: correo@gmail.com" id="chatEmail">    
        <input type="text" placeholder="Mensaje" id="chatInput">
        
        <button id="btn_sendMessage">Enviar</button>
    </div>

    <div id="getMessages">
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>


