<br/>
<h1>Mocking</h1>
<br/>
<body>
        {{#each Products}}
       <ul>
        <div>
            <div>
            <h3>{{this.title}}</h3>
            </div>
            <div>
            ${{this.price}} - {{this.description}}
            </div>
        </div>
        </ul>
            <hr>

        {{/each}}
    </ul>
</body>
</html>
