<div>
    <a href="/">Inicio</a>
    <a href="/products?page=1">Productos</a></a>
    <a href="/profile">Perfil</a>
</div>
<br/>
<h1>Pagina para restaurar Contraseña</h1>

<form method="post" action="/api/sessions/forgot">
    <input type="email" placeholder="Correo" name="email"/>
    <br/><br/>
    <input type="password" placeholder="Contraseña" name="newPassword"/>
    <br/><br/>
    <button type="submit">Restaurar</button>
</form>